/* universal styling */ 
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    margin: 0; /* remove default margin */ 
    padding: 0; /* remove default padding */
}
/* navbar styling , top and bottom */ 
.navbar {
    display: flex; 
    justify-content: space-around;
    background-color: #ff6b6b;
    padding: 1rem; 
}
.navbar a {
    text-decoration: none; 
    color: #217ba2; 
}
.navbar ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: row; 
    gap: 20px;
}
/* intro / header section styling */ 
.intro {
    background-color: #217ba2;
    color: #ffffff; 
    padding: 2rem; /* add padding for spacing */
}
/* about section styling */ 
.about {
    justify-content: center; 
    width: 100%; /* ensure full width for the about section */ 
}
.about img {
    width: 100%; 
    display: block; /* remove default inline spacing */
    margin: 0 auto; /* extend across page , with zero margin */ 
}
/* events styling */ 
.events {
    display: flex; 
    flex-direction: column;
    justify-content: center; /* center vertically */
    align-items: center; /* center horizontally */
}
/* events styling */ 
#event-photo2 {
    width: 50%; /* set width to 50% of the container */
}
/* number one player image styling */
.player {
    display: flex; /* enable flexbox to use align/justify properties */ 
    flex-direction: column; /* stack content vertically */
    justify-content: center; /* center horizontally */ 
    align-items: center; /* center vertically */ 
    width: 100%; /* ensure full width for the player section */
    margin: 0 auto; /* center the player section within the page */
} 
.player img {
    width: 25%; 
    display: block; /* remove default inline spacing */
    margin: 0 auto; /* center the image */
}

.events ul {
    list-style-type: none; 
}
/* footer styling */
footer ul {
    list-style-type: none; 
}

/* styling for smaller screens */ 
@media only screen and (max-width: 600px){
    .navbar ul {
        flex-direction: column; 
        align-items: center; 
    }
    .events img {
        width: 75%; 
    }
}
